.venv/
__pycache__/
.env
*.log
*.pkl
*.parquet
*.csv
*.xlsx
*.zip
.kaggle/
unsupervised_outputs/*.parquet
unsupervised_outputs/*.csv
unsupervised_outputs/*.pkl
.venv/
venv/
.ipynb_checkpoints/
unsupervised_outputs/*.xlsx
